langgraph
langchain-google-genai
langchain-community
langchain-huggingface
google-generativeai
pydantic
requests
python-dotenv
faiss-cpu
unstructured
sentence-transformers
transformers
accelerate
torch